Source: mod-carddav
Priority: optional
Section: libs
Maintainer: Jari Urpalainen <jari@urpalainen.fi>
Build-Depends: debhelper (>= 5.0.0),
	       cdbs (>= 0.4.37),
	       dpkg-dev (>= 1.13.19),
	       pkg-config,
	       libtool,
	       apache2-threaded-dev | apache2-prefork-dev,
	       libxml2-dev,
	       libapr1-dev,
	       libglib2.0-dev,
	       mod-dav-acl-dev (>= 0.2.0),
	       libedata-book1.2-dev
Standards-Version: 3.9.3

Package: mod-carddav
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Apache module for CardDAV handling
 Implements RFC6352

